-- MySQL Script generated by MySQL Workbench
-- Wed Apr 24 08:37:03 2019
-- Model: New Model    Version: 1.0
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='TRADITIONAL,ALLOW_INVALID_DATES';

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------
-- -----------------------------------------------------
-- Schema mob_share
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema mob_share
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `mob_share` DEFAULT CHARACTER SET utf8 ;
USE `mob_share` ;

-- -----------------------------------------------------
-- Table `mob_share`.`tbl_tipo_veiculo`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_tipo_veiculo` (
  `id_tipo_veiculo` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela tipo de veÃ­culo',
  `nome_tipo_veiculo` VARCHAR(20) NOT NULL COMMENT 'nome do tipo de veÃ­culo',
  PRIMARY KEY (`id_tipo_veiculo`))
ENGINE = InnoDB
AUTO_INCREMENT = 10
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_acessorios`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_acessorios` (
  `id_acessorios` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela acessÃ³rios',
  `nome_acessorios` VARCHAR(150) NOT NULL COMMENT 'nome dos acessÃ³rios',
  `id_tipo_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela tipo de veÃ­culo',
  PRIMARY KEY (`id_acessorios`),
  INDEX `fk_tbl_acessorios_tbl_tipo_veiculos_idx` (`id_tipo_veiculo` ASC),
  CONSTRAINT `fk_tbl_acessorios_tbl_tipo_veiculos`
    FOREIGN KEY (`id_tipo_veiculo`)
    REFERENCES `mob_share`.`tbl_tipo_veiculo` (`id_tipo_veiculo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_cliente`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_cliente` (
  `id_cliente` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo do cliente',
  `nome_cliente` VARCHAR(250) NOT NULL COMMENT 'nome do cliente',
  `cpf` VARCHAR(11) NOT NULL COMMENT 'cpf do cliente',
  `telefone` VARCHAR(15) NULL DEFAULT NULL COMMENT 'telefone do cliente',
  `celular` VARCHAR(16) NOT NULL COMMENT 'celular do cliente',
  `cnh_foto` VARCHAR(255) NOT NULL COMMENT 'foto da cnh do cliente',
  `foto_cliente` VARCHAR(255) NOT NULL COMMENT 'foto do cliente',
  `rua` VARCHAR(150) NOT NULL COMMENT 'rua do endereÃ§o do cliente',
  `bairro` VARCHAR(150) NOT NULL COMMENT 'bairro do cliente',
  `cep` VARCHAR(8) NOT NULL COMMENT 'cep do cliente',
  `complemento` VARCHAR(150) NOT NULL COMMENT 'complemento do endereÃ§o do cliente',
  `cidade` VARCHAR(70) NOT NULL COMMENT 'cidade do cliente',
  `uf` VARCHAR(2) NOT NULL COMMENT 'sigla do estado do cliente ',
  `email` VARCHAR(150) NOT NULL,
  `senha` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`id_cliente`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_marca_veiculo`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_marca_veiculo` (
  `id_marca_veiculo` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da marca do veÃ­culo',
  `nome_marca` VARCHAR(20) NOT NULL COMMENT 'nome da marca do veÃ­culo',
  PRIMARY KEY (`id_marca_veiculo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_marca_veiculo_tipo_veiculo`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_marca_veiculo_tipo_veiculo` (
  `id_tipo_marca` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela tipo da marca do veÃ­culo',
  `id_tipo_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela tipo do veÃ­culo',
  `id_marca_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabelma marca do veÃ­culo',
  PRIMARY KEY (`id_tipo_marca`),
  INDEX `fk_tbl_marca_veiculo_tipo_veiculo_tbl_marca_veiculo_idx` (`id_marca_veiculo` ASC),
  INDEX `fk_tbl_marca_veiculo_tipo_veiculo_tbl_tipo_veiculo_idx` (`id_tipo_veiculo` ASC),
  CONSTRAINT `fk_tbl_marca_veiculo_tipo_veiculo_tbl_marca_veiculo`
    FOREIGN KEY (`id_marca_veiculo`)
    REFERENCES `mob_share`.`tbl_marca_veiculo` (`id_marca_veiculo`),
  CONSTRAINT `fk_tbl_marca_veiculo_tipo_veiculo_tbl_tipo_veiculo`
    FOREIGN KEY (`id_tipo_veiculo`)
    REFERENCES `mob_share`.`tbl_tipo_veiculo` (`id_tipo_veiculo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_modelo_veiculo`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_modelo_veiculo` (
  `id_modelo` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela do modelo do veÃ­culo',
  `nome_modelo` VARCHAR(50) NOT NULL COMMENT 'nome do modelo',
  `id_marca_tipo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela marca tipo do veÃ­culo',
  PRIMARY KEY (`id_modelo`),
  INDEX `fk_tbl_modelo_veiculo_tbl_marca_veiculo_tipo_veiculo_idx` (`id_marca_tipo` ASC),
  CONSTRAINT `fk_tbl_modelo_veiculo_tbl_marca_veiculo_tipo_veiculo`
    FOREIGN KEY (`id_marca_tipo`)
    REFERENCES `mob_share`.`tbl_marca_veiculo_tipo_veiculo` (`id_tipo_marca`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_veiculo`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_veiculo` (
  `id_veiculo` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela de veÃ­culo',
  `ano` VARCHAR(45) NOT NULL,
  `placa` VARCHAR(45) NOT NULL,
  `quilometragem` VARCHAR(45) NOT NULL,
  `renavam` VARCHAR(45) NOT NULL COMMENT 'renavam do veÃ­culo',
  `id_tipo_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela tipo de veÃ­culo',
  `id_marca_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela marca do veÃ­culo',
  `id_modelo_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela modelo do veÃ­culo',
  `id_cliente` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela cliente',
  PRIMARY KEY (`id_veiculo`),
  INDEX `fk_tbl_veiculo_tbl_tipo_veiculo_idx` (`id_tipo_veiculo` ASC),
  INDEX `fk_tbl_tbl_veiculo_tbl_marca_veiculo_idx` (`id_marca_veiculo` ASC),
  INDEX `fk_tbl_veiculo_tbl_modelo_veiculo_idx` (`id_modelo_veiculo` ASC),
  INDEX `fk_tbl_veiculo_tbl_cliente_idx` (`id_cliente` ASC),
  CONSTRAINT `fk_tbl_tbl_veiculo_tbl_marca_veiculo`
    FOREIGN KEY (`id_marca_veiculo`)
    REFERENCES `mob_share`.`tbl_marca_veiculo` (`id_marca_veiculo`),
  CONSTRAINT `fk_tbl_veiculo_tbl_cliente`
    FOREIGN KEY (`id_cliente`)
    REFERENCES `mob_share`.`tbl_cliente` (`id_cliente`),
  CONSTRAINT `fk_tbl_veiculo_tbl_modelo_veiculo`
    FOREIGN KEY (`id_modelo_veiculo`)
    REFERENCES `mob_share`.`tbl_modelo_veiculo` (`id_modelo`),
  CONSTRAINT `fk_tbl_veiculo_tbl_tipo_veiculo`
    FOREIGN KEY (`id_tipo_veiculo`)
    REFERENCES `mob_share`.`tbl_tipo_veiculo` (`id_tipo_veiculo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8
COMMENT = '	';


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_anuncio`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_anuncio` (
  `id_anuncio` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela anÃºncio',
  `descricao` TEXT NOT NULL COMMENT 'descriÃ§Ã£o da tabela de anÃºncio',
  `id_cliente_locador` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela cliente locador',
  `id_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela de veÃ­culo',
  `horario_inicio` TIME NOT NULL COMMENT 'horÃ¡rio de inicio do anÃºncio',
  `horario_termino` TIME NOT NULL COMMENT 'horÃ¡rio de termino do anÃºncio',
  `data_inicial` DATE NOT NULL COMMENT 'data inicial do anÃºncio',
  `data_final` DATE NOT NULL COMMENT 'data final do anÃºncio',
  `status_aprovado` TINYINT(4) NOT NULL COMMENT 'status aprovado do anÃºncio',
  PRIMARY KEY (`id_anuncio`),
  INDEX `fk_tbl_usuario_tbl_anuncios_idx` (`id_cliente_locador` ASC),
  INDEX `fk_tbl_veiculos_tbl_anuncios_idx` (`id_veiculo` ASC),
  CONSTRAINT `fk_tbl_usuario_tbl_anuncios`
    FOREIGN KEY (`id_cliente_locador`)
    REFERENCES `mob_share`.`tbl_cliente` (`id_cliente`),
  CONSTRAINT `fk_tbl_veiculos_tbl_anuncios`
    FOREIGN KEY (`id_veiculo`)
    REFERENCES `mob_share`.`tbl_veiculo` (`id_veiculo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_anuncio_venda`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_anuncio_venda` (
  `id_anuncio_venda` INT(11) NOT NULL COMMENT 'cÃ³digo do anÃºncio de venda',
  `id_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela do veÃ­culo',
  `id_cliente` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela do cliente',
  `descricao_anuncio_venda` TEXT NOT NULL COMMENT 'descriÃ§Ã£o do anÃºncio de venda',
  `valor_venda` FLOAT NOT NULL COMMENT 'valor de venda do anÃºncio',
  PRIMARY KEY (`id_anuncio_venda`),
  INDEX `fk_tbl_usuario_tbl_anuncio_venda_idx` (`id_cliente` ASC),
  INDEX `fk_tbl_veiculo_tbl_anuncio_venda_idx` (`id_veiculo` ASC),
  CONSTRAINT `fk_tbl_usuario_tbl_anuncio_venda`
    FOREIGN KEY (`id_cliente`)
    REFERENCES `mob_share`.`tbl_cliente` (`id_cliente`),
  CONSTRAINT `fk_tbl_veiculo_tbl_anuncio_venda`
    FOREIGN KEY (`id_veiculo`)
    REFERENCES `mob_share`.`tbl_veiculo` (`id_veiculo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_niveis`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_niveis` (
  `id_niveis` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela nÃ­veis',
  `nome_nivel` VARCHAR(25) NOT NULL COMMENT 'nome do nÃ­vel',
  `descricao` VARCHAR(50) NOT NULL COMMENT 'descriÃ§Ã£o do nÃ­vel',
  PRIMARY KEY (`id_niveis`))
ENGINE = InnoDB
AUTO_INCREMENT = 3
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_usuario_cms`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_usuario_cms` (
  `id_usuario_cms` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela usuÃ¡rio do  cms',
  `nome_usuario_cms` VARCHAR(20) NOT NULL COMMENT 'nome de usuÃ¡rio do cms',
  `email_usuario_cms` VARCHAR(150) NOT NULL COMMENT 'email do usuÃ¡rio do cms',
  `senha` VARCHAR(20) NOT NULL COMMENT 'senha do usuÃ¡rio do cms',
  `id_niveis` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela nÃ­vel',
  PRIMARY KEY (`id_usuario_cms`),
  INDEX `fk_tbl_usuario_cms_tbl_niveis_idx` (`id_niveis` ASC),
  CONSTRAINT `fk_tbl_usuario_cms_tbl_niveis`
    FOREIGN KEY (`id_niveis`)
    REFERENCES `mob_share`.`tbl_niveis` (`id_niveis`))
ENGINE = InnoDB
AUTO_INCREMENT = 6
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_aprovacao_anuncio`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_aprovacao_anuncio` (
  `id_aprovacao_anuncio` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela aprovaÃ§Ã£o do anÃºncio',
  `status_aprovacao` TINYINT(4) NOT NULL COMMENT 'status da aprovaÃ§Ã£o',
  `id_anuncio` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela anÃºncio',
  `id_usuario_cms` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela usuÃ¡rio do cms',
  PRIMARY KEY (`id_aprovacao_anuncio`),
  INDEX `fk_tbl_aprovacao_anuncio_tbl_usuario_cms_idx` (`id_usuario_cms` ASC),
  INDEX `fk_tbl_aprovacao_anuncio_tbl_anuncio_idx` (`id_anuncio` ASC),
  CONSTRAINT `fk_tbl_avaliacao_anuncio_tbl_anuncio`
    FOREIGN KEY (`id_anuncio`)
    REFERENCES `mob_share`.`tbl_anuncio` (`id_anuncio`),
  CONSTRAINT `fk_tbl_avaliacao_anuncio_tbl_usuario_cms`
    FOREIGN KEY (`id_usuario_cms`)
    REFERENCES `mob_share`.`tbl_usuario_cms` (`id_usuario_cms`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_aprovacao_anuncio_venda`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_aprovacao_anuncio_venda` (
  `id_aprovacao_anuncio_venda` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo de aprovaÃ§Ã£o do anÃºncio de venda',
  `status_aprovacao` TINYINT(4) NOT NULL COMMENT 'status de aprovaÃ§Ã£o do anÃºncio de venda',
  `id_anuncio_venda` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela de anÃºncio de venda',
  `id_usuario_cms` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela do usuÃ¡rio do cms',
  PRIMARY KEY (`id_aprovacao_anuncio_venda`),
  INDEX `fk_tbl_aprovacao_anuncio_tbl_usuario_cms_idx` (`id_usuario_cms` ASC),
  INDEX `fk_tbl_aprovacao_anuncio_venda_tbl_anuncio_venda_idx` (`id_anuncio_venda` ASC),
  CONSTRAINT `fk_tbl_avaliacao_anuncio_venda_tbl_anuncio_venda`
    FOREIGN KEY (`id_anuncio_venda`)
    REFERENCES `mob_share`.`tbl_anuncio_venda` (`id_anuncio_venda`),
  CONSTRAINT `fk_tbl_avaliacao_anuncio_venda_tbl_usuario_cms`
    FOREIGN KEY (`id_usuario_cms`)
    REFERENCES `mob_share`.`tbl_usuario_cms` (`id_usuario_cms`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_aprovacao_veiculo`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_aprovacao_veiculo` (
  `id_aprovacao_veiculo` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela aprovaÃ§Ã£o do veÃ­culo',
  `status_aprovacao` TINYINT(4) NOT NULL COMMENT 'status de aprovaÃ§Ã£o',
  `id_usuario_cms` INT(11) NOT NULL COMMENT 'cÃ³digo do usuÃ¡rio do cms',
  `id_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela veÃ­culo',
  PRIMARY KEY (`id_aprovacao_veiculo`),
  INDEX `fk_tbl_aprovacao_veiculo_tbl_veiculo_idx` (`id_veiculo` ASC),
  INDEX `fk_tbl_aprovacao_veiculo_tbl_usuario_cms_idx` (`id_usuario_cms` ASC),
  CONSTRAINT `fk_tbl_avaliacao_veiculo_tbl_usuario_cms`
    FOREIGN KEY (`id_usuario_cms`)
    REFERENCES `mob_share`.`tbl_usuario_cms` (`id_usuario_cms`),
  CONSTRAINT `fk_tbl_avaliacao_veiculo_tbl_veiculo`
    FOREIGN KEY (`id_veiculo`)
    REFERENCES `mob_share`.`tbl_veiculo` (`id_veiculo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_locacao`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_locacao` (
  `id_locacao` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela locaÃ§Ã£o',
  `id_cliente_locador` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela cliente locador',
  `id_anuncio` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela anÃºncio',
  `valor_locacao` FLOAT NOT NULL COMMENT 'valor da locaÃ§Ã£o',
  `data_hora_final` DATETIME NOT NULL COMMENT 'data e hora final da locaÃ§Ã£o',
  `id_percentual` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela percentual',
  PRIMARY KEY (`id_locacao`),
  INDEX `fk_tbl_usuario_tbl_locacao_idx` (`id_cliente_locador` ASC),
  INDEX `fk_tbl_anuncio_tbl_locacao_idx` (`id_anuncio` ASC),
  CONSTRAINT `fk_tbl_anuncio_tbl_locacao`
    FOREIGN KEY (`id_anuncio`)
    REFERENCES `mob_share`.`tbl_anuncio` (`id_anuncio`),
  CONSTRAINT `fk_tbl_usuario_tbl_locacao`
    FOREIGN KEY (`id_cliente_locador`)
    REFERENCES `mob_share`.`tbl_cliente` (`id_cliente`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_avaliacao_locatario`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_avaliacao_locatario` (
  `id_avaliacao_locatario` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo  da tabeÃ§a de avaliaÃ§Ã£o do locatario',
  `nota` FLOAT NULL DEFAULT NULL COMMENT 'nota do locatario',
  `comentario` TEXT NOT NULL COMMENT 'comentÃ¡rio da avaliaÃ§Ã£o do locatÃ¡rio',
  `data_avaliacao` DATE NOT NULL COMMENT 'data da avaliaÃ§Ã£o do locatario',
  `id_locacao` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela locaÃ§Ã£o',
  PRIMARY KEY (`id_avaliacao_locatario`),
  INDEX `fk_tbl_avaliacao_locacao_tbl_locacao_idx` (`id_locacao` ASC),
  CONSTRAINT `fk_tbl_avaliacao_locacao_tbl_locacao`
    FOREIGN KEY (`id_locacao`)
    REFERENCES `mob_share`.`tbl_locacao` (`id_locacao`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_avaliacao_servico`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_avaliacao_servico` (
  `id_avaliacao_servico` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela avaliaÃ§Ã£o serviÃ§o',
  `nota` FLOAT NULL DEFAULT NULL COMMENT 'nota da avaliaÃ§Ã£o',
  `data_avaliacao` DATE NOT NULL COMMENT 'data da avaliaÃ§Ã£o',
  `id_locacao` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela locaÃ§Ã£o',
  `comentario` TEXT NULL DEFAULT NULL COMMENT 'comentÃ¡ria da locaÃ§Ã£o',
  PRIMARY KEY (`id_avaliacao_servico`),
  INDEX `fk_tbl_avaliacao_servico_tbl_locacao_idx` (`id_locacao` ASC),
  CONSTRAINT `fk_tbl_avaliacao_servico_tbl_locacao`
    FOREIGN KEY (`id_locacao`)
    REFERENCES `mob_share`.`tbl_locacao` (`id_locacao`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_bancos`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_bancos` (
  `id_banco` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela bancas',
  `nome_banco` VARCHAR(60) NOT NULL COMMENT 'nome do banco',
  `agencia_numero` VARCHAR(20) NOT NULL COMMENT 'nÃºmero da agÃªncia',
  `cidade` VARCHAR(100) NULL DEFAULT NULL COMMENT 'cidade do banco',
  `uf` VARCHAR(2) NULL DEFAULT NULL COMMENT 'estado do banco',
  PRIMARY KEY (`id_banco`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_setor`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_setor` (
  `id_setor` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela de setor',
  `nome` VARCHAR(100) NOT NULL COMMENT 'nome do setor',
  PRIMARY KEY (`id_setor`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_funcionario`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_funcionario` (
  `id_funcionario` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela de funcionÃ¡rio',
  `nome` VARCHAR(100) NOT NULL COMMENT 'nome do funcionÃ¡rio',
  `cpf` INT(11) NOT NULL COMMENT 'cpf do funcionÃ¡rio',
  `cod_funcionario` VARCHAR(32) NOT NULL COMMENT 'cÃ³digo de verificaÃ§Ã£o do funcionÃ¡rio',
  `email` VARCHAR(150) NOT NULL COMMENT 'email do funcionÃ¡rio',
  `demissao` DATE NULL DEFAULT NULL COMMENT 'data de demissÃ£o do funcionÃ¡rio',
  `rg` INT(9) NULL DEFAULT NULL COMMENT 'rg do funcionÃ¡rio',
  `dt_nacimento` DATE NULL DEFAULT NULL COMMENT 'data de nascimento do funcionÃ¡rio',
  `cep` INT(8) NULL DEFAULT NULL COMMENT 'cep do endereÃ§o do funcionÃ¡rio',
  `uf` VARCHAR(2) NULL DEFAULT NULL COMMENT 'estado do funcionÃ¡rio',
  `cidade` VARCHAR(100) NULL DEFAULT NULL COMMENT 'cidade do funcionÃ¡rio',
  `logradouro` VARCHAR(100) NULL DEFAULT NULL COMMENT 'logradouro do endereÃ§o do funcionÃ¡rio',
  `n` VARCHAR(10) NULL DEFAULT NULL,
  `telefone` VARCHAR(12) NULL DEFAULT NULL COMMENT 'telefone do funcionÃ¡rio',
  `admissao` DATE NULL DEFAULT NULL COMMENT 'data de admissÃ£o do funcionÃ¡rio',
  `id_setor` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela de setor',
  PRIMARY KEY (`id_funcionario`),
  INDEX `fk_tbl_setor_tbl_funcionario_idx` (`id_setor` ASC),
  CONSTRAINT `fk_tbl_setor_tbl_funcionario`
    FOREIGN KEY (`id_setor`)
    REFERENCES `mob_share`.`tbl_setor` (`id_setor`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_cargos`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_cargos` (
  `id_cargo` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela de cargos',
  `nome` VARCHAR(100) NOT NULL COMMENT 'nome do cargo',
  PRIMARY KEY (`id_cargo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_cargo_funcionario`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_cargo_funcionario` (
  `id_cargo_funcionario` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela de cargo do funcionÃ¡rio',
  `id_cargo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela de cargo',
  `id_funcionario` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela de funcionÃ¡rio',
  `data` DATE NULL DEFAULT NULL COMMENT 'data de contrataÃ§Ã£o do funcionÃ¡rio',
  PRIMARY KEY (`id_cargo_funcionario`),
  INDEX `fk_tbl_setor_tbl_cargo_funcionario_idx` (`id_cargo` ASC),
  INDEX `fk_tbl_funcionario_tbl_cargo_funcionario_idx` (`id_funcionario` ASC),
  CONSTRAINT `fk_tbl_funcionario_tbl_cargo_funcionario`
    FOREIGN KEY (`id_funcionario`)
    REFERENCES `mob_share`.`tbl_funcionario` (`id_funcionario`),
  CONSTRAINT `fk_tbl_setor_tbl_cargo_funcionario`
    FOREIGN KEY (`id_cargo`)
    REFERENCES `mob_share`.`tbl_cargos` (`id_cargo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_comentario_avaliacao`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_comentario_avaliacao` (
  `id_comentario` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela comentÃ¡rio',
  `comentario` TEXT NULL DEFAULT NULL COMMENT 'comentÃ¡rio',
  `data` DATETIME NOT NULL COMMENT 'data do comentÃ¡rio da avaliaÃ§Ã£o',
  PRIMARY KEY (`id_comentario`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_como_ganhar_dinheiro`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_como_ganhar_dinheiro` (
  `id_ganhar_dinheiro` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da pÃ¡gina como ganhar dinheiro',
  `titulo_como_ganhar` TEXT NOT NULL COMMENT 'tÃ­tulo da pÃ¡gina como ganhar dinheiro',
  `texto_como_ganhar` TEXT NOT NULL COMMENT 'texto da pÃ¡gina como ganhar dinheiro',
  `img_como_ganhar` VARCHAR(100) NOT NULL COMMENT 'imagem da pÃ¡gina como ganhar dinheiro',
  PRIMARY KEY (`id_ganhar_dinheiro`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_conta`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_conta` (
  `id_conta` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da conta',
  `saldo_conta_bancaria` DECIMAL(10,2) NOT NULL COMMENT 'saldo da conta bancaria',
  `numero_conta` VARCHAR(32) NOT NULL COMMENT 'nÃºmero da conta bancÃ¡ria',
  `id_banco` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela banco',
  PRIMARY KEY (`id_conta`),
  INDEX `fk_tbl_conta_bancaria_tbl_` (`id_banco` ASC),
  CONSTRAINT `fk_tbl_conta_bancaria_tbl_`
    FOREIGN KEY (`id_banco`)
    REFERENCES `mob_share`.`tbl_bancos` (`id_banco`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_contas_pagar`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_contas_pagar` (
  `id_conta_pagar` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela contas Ã  pagar',
  `descricao` TEXT NOT NULL COMMENT 'descriÃ§Ã£o da conta Ã  pagar ',
  `data_entrada` DATE NOT NULL COMMENT 'data de entrada da conta Ã  pagar',
  `valor` DECIMAL(10,2) NOT NULL COMMENT 'valor da conta Ã  pagar',
  `titulos_baixados` VARCHAR(45) NULL DEFAULT NULL COMMENT 'tÃ­tulos das contas Ã  pagar',
  `data_baixa` DATETIME NULL DEFAULT NULL COMMENT 'data da baixa da conta Ã  pagar',
  `codigo_pagamento` VARCHAR(32) NULL DEFAULT NULL COMMENT 'nÃºmero do cÃ³digo do pagamento',
  `confirmado` TINYINT(1) NOT NULL DEFAULT '0' COMMENT 'confirmaÃ§Ã£o do pagamento aceito ou nÃ£o aceito',
  PRIMARY KEY (`id_conta_pagar`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_contas_receber`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_contas_receber` (
  `id_conta_receber` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela contas Ã  receber',
  `valor` DECIMAL(10,2) NOT NULL COMMENT 'valor das contas Ã  receber',
  `data_entrada` DATE NOT NULL COMMENT 'data da entrada do valor Ã  receber',
  `descricao` TEXT NULL DEFAULT NULL COMMENT 'descriÃ§Ã£o das contas Ã  receber',
  `titulos_baixados` VARCHAR(45) NULL DEFAULT NULL COMMENT 'tÃ­tulos baixados',
  `titulos_recebidos` VARCHAR(45) NULL DEFAULT NULL COMMENT 'tÃ­tulos recebidos',
  `data_baixa` DATETIME NULL DEFAULT NULL COMMENT 'data da baixa do tÃ­tulo',
  `confirmado` TINYINT(1) NOT NULL DEFAULT '0' COMMENT 'contas foram confirmadas ou nÃ£o',
  PRIMARY KEY (`id_conta_receber`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_email_mkt`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_email_mkt` (
  `id_email_mkt` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da pÃ¡gina email marketing',
  `email` VARCHAR(100) NOT NULL COMMENT 'email da pÃ¡gina email marketing',
  PRIMARY KEY (`id_email_mkt`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_fale_conosco`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_fale_conosco` (
  `id_fale_conosco` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da pÃ¡gina fale conosco',
  `nome_fale_conosco` VARCHAR(100) NULL DEFAULT NULL COMMENT 'nome da pÃ¡gina fale conosco',
  `email_fale_conosco` VARCHAR(100) NOT NULL COMMENT 'email da pÃ¡gina fale conosco',
  `telefone_fale_conosco` VARCHAR(20) NOT NULL COMMENT 'telefone da pÃ¡gina fale conosco',
  `celular_fale_conosco` VARCHAR(20) NULL DEFAULT NULL COMMENT 'telefone da pÃ¡gina fale conosco',
  `mensagem_fale_conosco` TEXT NOT NULL,
  PRIMARY KEY (`id_fale_conosco`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_faq`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_faq` (
  `id_faq` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da pÃ¡gina faq',
  `titulo_faq` VARCHAR(100) NOT NULL COMMENT 'tÃ­tulo da pÃ¡gina faq',
  `pergunta_1_faq` TEXT NOT NULL COMMENT 'pergunta da pÃ¡gina faq',
  `resposta_1_faq` TEXT NOT NULL COMMENT 'resposta da pÃ¡gina faq',
  PRIMARY KEY (`id_faq`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_usuario_desktop`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_usuario_desktop` (
  `id_usuario_desktop` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela usuÃ¡rio desktop',
  `nome` VARCHAR(100) NOT NULL COMMENT 'nome do usuÃ¡rio do desktop',
  `email` VARCHAR(128) NOT NULL COMMENT 'email do usuÃ¡rio do desktop',
  `senha` VARCHAR(128) NULL DEFAULT NULL COMMENT 'senha do usuÃ¡rio do desktop',
  `telefone` VARCHAR(12) NULL DEFAULT NULL COMMENT 'telefone do usuÃ¡rio',
  `cpf` INT(11) NULL DEFAULT '0' COMMENT 'cpf do usuÃ¡rio',
  `logado` DATETIME NULL DEFAULT NULL COMMENT 'data quando usuÃ¡rio logou',
  `foto` VARCHAR(100) NULL DEFAULT NULL COMMENT 'foto do usuÃ¡rio',
  `excluido` TINYINT(1) NOT NULL DEFAULT '0' COMMENT 'dado se o usuÃ¡rio foi excluÃ­do ou nÃ£o',
  PRIMARY KEY (`id_usuario_desktop`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_folha_pagamento`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_folha_pagamento` (
  `id_folha_pagamento` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela folha de pagamento',
  `valor_final` DECIMAL(10,2) NOT NULL DEFAULT '0.00' COMMENT 'valor final da folha de pagamento',
  `data_agendamento` DATE NOT NULL COMMENT 'data de agendamento ',
  `descricao_pagamento` TEXT NOT NULL COMMENT 'descriÃ§Ã£o do pagamento',
  `cod_pagamento_funcionario` VARCHAR(32) NOT NULL COMMENT 'cÃ³digo do pagamento do funcionÃ¡rio',
  `id_funcionario` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela funcionÃ¡rio',
  `id_usuario_desktop` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela usuÃ¡rio do desktop',
  PRIMARY KEY (`id_folha_pagamento`, `id_funcionario`),
  INDEX `fk_tbl_pagamento_funcionario_tbl_funcionario_idx` (`id_funcionario` ASC),
  INDEX `fk_tbl_usuario_desktop_tbl_folha_pagamento_idx` (`id_usuario_desktop` ASC),
  CONSTRAINT `fk_tbl_pagamento_funcionario_tbl_funcionario`
    FOREIGN KEY (`id_funcionario`)
    REFERENCES `mob_share`.`tbl_funcionario` (`id_funcionario`),
  CONSTRAINT `fk_tbl_usuario_desktop_tbl_folha_pagamento`
    FOREIGN KEY (`id_usuario_desktop`)
    REFERENCES `mob_share`.`tbl_usuario_desktop` (`id_usuario_desktop`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_folha_pagamento_contas_pagar`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_folha_pagamento_contas_pagar` (
  `id_pedido_contas_pagar` INT(11) NOT NULL AUTO_INCREMENT,
  `id_folha_pagamento` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela folha de pagamento',
  `id_conta_pagar` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela conta Ã  pagar',
  PRIMARY KEY (`id_pedido_contas_pagar`),
  INDEX `fk_tbl_funcionario_idx` (`id_folha_pagamento` ASC),
  INDEX `fk_tbl_contas_pagar_tbl_folha_pagamento_contas_pagar_idx` (`id_conta_pagar` ASC),
  CONSTRAINT `fk_tbl_contas_pagar_tbl_folha_pagamento_contas_pagar`
    FOREIGN KEY (`id_conta_pagar`)
    REFERENCES `mob_share`.`tbl_contas_pagar` (`id_conta_pagar`),
  CONSTRAINT `fk_tbl_folha_pagamento_tbl_folha_pagamento_contas_pagar`
    FOREIGN KEY (`id_folha_pagamento`)
    REFERENCES `mob_share`.`tbl_folha_pagamento` (`id_folha_pagamento`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_fornecedor`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_fornecedor` (
  `id_fornecedor` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela do fornecedor',
  `nome_fornecedor` VARCHAR(100) NOT NULL COMMENT 'nome do fornecedor',
  `cnpj_fornecedor` VARCHAR(20) NOT NULL COMMENT 'cnpj do fornecedor',
  `cod_fornecedor` VARCHAR(32) NULL DEFAULT NULL COMMENT 'cÃ³digo de identificaÃ§Ã£o do fornecedor',
  `razao_social` VARCHAR(100) NULL DEFAULT NULL COMMENT 'razÃ£o social do fornecedor',
  PRIMARY KEY (`id_fornecedor`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_foto_veiculo`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_foto_veiculo` (
  `id_foto_veiculo` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela foto do veÃ­culo',
  `nome_foto` VARCHAR(255) NOT NULL COMMENT 'nome da foto ',
  `id_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela veÃ­culo',
  PRIMARY KEY (`id_foto_veiculo`),
  INDEX `fk_tbl_foto_veiculo_tbl_veiculo_idx` (`id_veiculo` ASC),
  CONSTRAINT `fk_tbl_foto_veiculo_tbl_veiculo`
    FOREIGN KEY (`id_veiculo`)
    REFERENCES `mob_share`.`tbl_veiculo` (`id_veiculo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_home_sessao1`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_home_sessao1` (
  `id_pagina_home` INT(11) NOT NULL AUTO_INCREMENT,
  `texto_banner` TEXT NOT NULL,
  `foto_banner` VARCHAR(255) NOT NULL,
  `status_banner` FLOAT NOT NULL,
  `texto2_banner` TEXT NOT NULL,
  PRIMARY KEY (`id_pagina_home`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_home_sessao2`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_home_sessao2` (
  `id_pagina_home2` INT(11) NOT NULL AUTO_INCREMENT,
  `titulo_sessao2` VARCHAR(255) NOT NULL,
  `texto_sessao2` TEXT NOT NULL,
  `foto_sessao2` VARCHAR(255) NOT NULL,
  `status_sessao2` FLOAT NOT NULL,
  PRIMARY KEY (`id_pagina_home2`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_home_sessao3`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_home_sessao3` (
  `id_home_sessao3` INT(11) NOT NULL AUTO_INCREMENT,
  `foto1_sessao3` VARCHAR(255) NOT NULL,
  `foto2_sessao3` VARCHAR(255) NOT NULL,
  `foto3_sessao3` VARCHAR(255) NOT NULL,
  `titulo1_sessao3` VARCHAR(255) NOT NULL,
  `titulo2_sessao3` VARCHAR(255) NOT NULL,
  `titulo3_sessao3` VARCHAR(255) NOT NULL,
  `texto1_sessao3` TEXT NOT NULL,
  `texto2_sessao3` TEXT NOT NULL,
  `texto3_sessao3` TEXT NOT NULL,
  `status_sessao3` FLOAT NOT NULL,
  PRIMARY KEY (`id_home_sessao3`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_home_sessao4`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_home_sessao4` (
  `id_home_sessao4` INT(11) NOT NULL,
  `titulo_sessao4` VARCHAR(45) NOT NULL,
  `foto_sessao4` VARCHAR(255) NOT NULL,
  `texto_sessao4` VARCHAR(45) NOT NULL,
  `status_sessao4` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`id_home_sessao4`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_home_sessao5`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_home_sessao5` (
  `id_home_sessao5` INT(11) NOT NULL AUTO_INCREMENT,
  `status_sessao5` FLOAT NOT NULL,
  `titulo_sessao5` VARCHAR(45) NOT NULL,
  `subtitulo1_sessao5` VARCHAR(45) NOT NULL,
  `subtitulo2_sessao5` VARCHAR(45) NOT NULL,
  `subtitulo3_sessao5` VARCHAR(45) NOT NULL,
  `subtitulo4_sessao5` VARCHAR(45) NOT NULL,
  `foto1_sessao5` VARCHAR(255) NOT NULL,
  `foto2_sessao5` VARCHAR(255) NOT NULL,
  `foto3_sessao5` VARCHAR(255) NOT NULL,
  `foto4_sessao5` VARCHAR(255) NOT NULL,
  `texto1_sessao5` TEXT NOT NULL,
  `texto2_sessao5` TEXT NOT NULL,
  `texto3_sessao5` TEXT NOT NULL,
  `texto4_sessao5` TEXT NOT NULL,
  PRIMARY KEY (`id_home_sessao5`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_locacao_conta_pagar`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_locacao_conta_pagar` (
  `id_locacao_conta_pagar` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela contas Ã  pagar',
  `id_locacao` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela locaÃ§Ã£o',
  `id_conta_pagar` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela contas Ã  pagar',
  PRIMARY KEY (`id_locacao_conta_pagar`),
  INDEX `fk_tbl_pagamento_cliente_tbl_locacao_idx` (`id_locacao` ASC),
  INDEX `fk_tbl_contas_pagar_tbl_locacao_conta_pagar_idx` (`id_conta_pagar` ASC),
  CONSTRAINT `fk_tbl_contas_pagar_tbl_locacao_conta_pagar`
    FOREIGN KEY (`id_conta_pagar`)
    REFERENCES `mob_share`.`tbl_contas_pagar` (`id_conta_pagar`),
  CONSTRAINT `fk_tbl_locacao_tbl_locacao_conta_pagar`
    FOREIGN KEY (`id_locacao`)
    REFERENCES `mob_share`.`tbl_locacao` (`id_locacao`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_locacao_conta_receber`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_locacao_conta_receber` (
  `id_locacao_conta_receber` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela locaÃ§Ã£o contas Ã  receber',
  `id_locacao` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela locaÃ§Ã£o',
  `id_conta_receber` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela contas Ã  receber',
  PRIMARY KEY (`id_locacao_conta_receber`),
  INDEX `fk_tbl_carteira_tbl_locacao_idx` (`id_locacao` ASC),
  INDEX `fk_tbl_contas_receber_tbl_locacao_conta_receber_idx` (`id_conta_receber` ASC),
  CONSTRAINT `fk_tbl_contas_receber_tbl_locacao_conta_receber`
    FOREIGN KEY (`id_conta_receber`)
    REFERENCES `mob_share`.`tbl_contas_receber` (`id_conta_receber`),
  CONSTRAINT `fk_tbl_locacao_tbl_locacao_contas_receber`
    FOREIGN KEY (`id_locacao`)
    REFERENCES `mob_share`.`tbl_locacao` (`id_locacao`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_melhores_avaliacoes`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_melhores_avaliacoes` (
  `id_melhores_avaliacoes` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da pÃ¡gina melhores avaliaÃ§Ãµes',
  `titulo_melhores_avaliacoes` TEXT NOT NULL COMMENT 'tÃ­tulo da pÃ¡gina melhores avaliaÃ§Ãµes',
  `texto_melhores_avaliacoes` TEXT NOT NULL COMMENT 'texto da pÃ¡gina melhores avaliaÃ§Ãµes',
  PRIMARY KEY (`id_melhores_avaliacoes`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_menu`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_menu` (
  `id_menu` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela menu',
  `nome_menu` VARCHAR(25) NOT NULL COMMENT 'nome do menu',
  `href` VARCHAR(150) NOT NULL COMMENT 'url/ link do menu',
  `icone` VARCHAR(255) NOT NULL COMMENT 'Ã­cone do menu',
  PRIMARY KEY (`id_menu`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_niveis_menu`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_niveis_menu` (
  `id_niveis_menu` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela nÃ­veis do menu',
  `id_menu` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela menu',
  `id_niveis` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela nÃ­veis',
  PRIMARY KEY (`id_niveis_menu`),
  INDEX `fk_tbl_niveis_menu_tbl_niveis_idx` (`id_niveis` ASC),
  INDEX `fk_tbl_niveis_menu_tbl_menu_idx` (`id_menu` ASC),
  CONSTRAINT `fk_tbl_niveis_menu_tbl_menu`
    FOREIGN KEY (`id_menu`)
    REFERENCES `mob_share`.`tbl_menu` (`id_menu`),
  CONSTRAINT `fk_tbl_niveis_menu_tbl_niveis`
    FOREIGN KEY (`id_niveis`)
    REFERENCES `mob_share`.`tbl_niveis` (`id_niveis`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_operacoes`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_operacoes` (
  `id_operacoes` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela operaÃ§Ãµes',
  `id_conta` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela conta',
  `data_entrada` DATE NOT NULL COMMENT 'data da entrada da operaÃ§Ã£o',
  `id_usuario_desktop` INT(11) NOT NULL COMMENT 'cÃ³digo do usuÃ¡rio do desktop',
  PRIMARY KEY (`id_operacoes`),
  INDEX `fk_tbl_conta_tbl_operacoes_idx` (`id_conta` ASC),
  INDEX `fk_tbl_usuario_desktop_tbl_operacoes_idx` (`id_usuario_desktop` ASC),
  CONSTRAINT `fk_tbl_conta_tbl_operacoes`
    FOREIGN KEY (`id_conta`)
    REFERENCES `mob_share`.`tbl_conta` (`id_conta`),
  CONSTRAINT `fk_tbl_usuario_desktop_tbl_operacoes`
    FOREIGN KEY (`id_usuario_desktop`)
    REFERENCES `mob_share`.`tbl_usuario_desktop` (`id_usuario_desktop`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_operacoes_contas_pagar`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_operacoes_contas_pagar` (
  `id_operacoes_contas_pagar` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela operaÃ§Ãµes contas Ã  receber',
  `id_contas_pagar` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela contas Ã  pagar',
  `id_operacoes` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela operaÃ§Ãµes',
  PRIMARY KEY (`id_operacoes_contas_pagar`),
  INDEX `fk_tbl_contas_pagar_tbl_operacoes_contas_pagar_idx` (`id_contas_pagar` ASC),
  INDEX `fk_tbl_operacoes_tbl_operacoes_contas_pagar_idx` (`id_operacoes` ASC),
  CONSTRAINT `fk_tbl_contas_pagar_tbl_operacoes_contas_pagar`
    FOREIGN KEY (`id_contas_pagar`)
    REFERENCES `mob_share`.`tbl_contas_pagar` (`id_conta_pagar`),
  CONSTRAINT `fk_tbl_operacoes_tbl_operacoes_contas_pagar`
    FOREIGN KEY (`id_operacoes`)
    REFERENCES `mob_share`.`tbl_operacoes` (`id_operacoes`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_operacoes_contas_receber`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_operacoes_contas_receber` (
  `id_operacoes_contas_receber` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela operaÃ§Ãµes contas Ã  receber',
  `id_contas_receber` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela contas Ã  receber',
  `id_operacoes` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela operaÃ§Ãµes',
  PRIMARY KEY (`id_operacoes_contas_receber`),
  INDEX `fk_tbl__contas_receber_tbl_operacoes_contas_receber_idx` (`id_contas_receber` ASC),
  INDEX `fk_tbl_operacoes_tbl_operacoes_contas_receber_idx` (`id_operacoes` ASC),
  CONSTRAINT `fk_tbl__contas_receber_tbl_operacoes_contas_receber`
    FOREIGN KEY (`id_contas_receber`)
    REFERENCES `mob_share`.`tbl_contas_receber` (`id_conta_receber`),
  CONSTRAINT `fk_tbl_operacoes_tbl_operacoes_contas_receber`
    FOREIGN KEY (`id_operacoes`)
    REFERENCES `mob_share`.`tbl_operacoes` (`id_operacoes`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_pagina_sobre`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_pagina_sobre` (
  `id_sobre` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da pÃ¡gina sobre',
  `titulo_sobre` VARCHAR(45) NOT NULL COMMENT 'tÃ­tulo da pÃ¡gina sobre',
  `texto_sobre` VARCHAR(45) NOT NULL COMMENT 'texto da pÃ¡gina sobre',
  `foto_sobre` VARCHAR(200) NOT NULL COMMENT 'foto da pÃ¡gina sobre',
  `titulo_missao_sobre` TEXT NOT NULL COMMENT 'missÃ£o pÃ¡gina sobre',
  `texto_missao_sobre` TEXT NOT NULL,
  `foto_missao_sobre` TEXT NOT NULL,
  `titulo_visao_sobre` TEXT NOT NULL,
  `texto_visao_sobre` TEXT NOT NULL COMMENT 'visÃ£o pÃ¡gina sobre',
  `foto_visao_sobre` TEXT NOT NULL,
  `titulo_valores_sobre` TEXT NOT NULL,
  `texto_valores_sobre` TEXT NOT NULL COMMENT 'valores da pÃ¡gina sobre',
  `foto_valores_sobre` TEXT NOT NULL,
  PRIMARY KEY (`id_sobre`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_pedido`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_pedido` (
  `id_pedido` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela pedido',
  `valor_total` DECIMAL(10,2) NOT NULL DEFAULT '0.00' COMMENT 'valor total do pedido',
  `forma_pagamento` VARCHAR(45) NOT NULL COMMENT 'forma de pagamento do pedido',
  `previsao_entrega` DATE NOT NULL COMMENT 'previsÃ£o de entrega do pedido',
  `cod_pedido` VARCHAR(32) NOT NULL COMMENT 'cÃ³digo de barras do pedido',
  `natureza_da_compra` VARCHAR(100) NOT NULL COMMENT 'origem da compra',
  `desconto` DECIMAL(10,2) NOT NULL DEFAULT '0.00' COMMENT 'desconto na compra',
  `data_compra` DATE NOT NULL COMMENT 'data da compra',
  `frete` DECIMAL(10,2) NOT NULL COMMENT 'frete do pedido',
  `id_fornecedor` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela fornecedor',
  `id_usuario_desktop` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela usuÃ¡rio desktop',
  PRIMARY KEY (`id_pedido`),
  INDEX `fk_tbl_pedidos_tbl_fornecedor_idx` (`id_fornecedor` ASC),
  INDEX `fk_tbl_usuario_desktop_tbl_pedido_idx` (`id_usuario_desktop` ASC),
  CONSTRAINT `fk_tbl_fornecedor_tbl_pedidos`
    FOREIGN KEY (`id_fornecedor`)
    REFERENCES `mob_share`.`tbl_fornecedor` (`id_fornecedor`),
  CONSTRAINT `fk_tbl_usuario_desktop_tbl_pedido`
    FOREIGN KEY (`id_usuario_desktop`)
    REFERENCES `mob_share`.`tbl_usuario_desktop` (`id_usuario_desktop`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_pedido_contas_pagar`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_pedido_contas_pagar` (
  `id_pedido_contas_pagar` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela pedidos de conta Ã  pagar',
  `id_pedido` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela pedidos',
  `id_conta_pagar` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela contas Ã  pagar',
  PRIMARY KEY (`id_pedido_contas_pagar`),
  INDEX `fk_tbl_pedido_tbl_pedido_contas_pagar_idx` (`id_pedido` ASC),
  INDEX `fk_tbl_contas_pagar_tbl_pedido_contas_pagar_idx` (`id_conta_pagar` ASC),
  CONSTRAINT `fk_tbl_contas_pagar_tbl_pedido_contas_pagar`
    FOREIGN KEY (`id_conta_pagar`)
    REFERENCES `mob_share`.`tbl_contas_pagar` (`id_conta_pagar`),
  CONSTRAINT `fk_tbl_pedido_tbl_pedido_contas_pagar`
    FOREIGN KEY (`id_pedido`)
    REFERENCES `mob_share`.`tbl_pedido` (`id_pedido`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_produto`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_produto` (
  `id_produto` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela prodto',
  `descricao` TEXT NULL DEFAULT NULL COMMENT 'descriÃ§Ã£o do produto',
  `valor_unitario` DECIMAL(10,2) NOT NULL COMMENT 'valor unitÃ¡rio do produto',
  `cod_produto` VARCHAR(100) NOT NULL COMMENT 'cÃ³digo do produto',
  `nome` VARCHAR(100) NOT NULL COMMENT 'nome do produto',
  PRIMARY KEY (`id_produto`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_pedido_produto`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_pedido_produto` (
  `id_pedido_produto` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela produto do pedido',
  `quantidade` INT(11) NOT NULL COMMENT 'quantidade de produtos',
  `valor` DECIMAL(10,2) NOT NULL COMMENT 'valor unitÃ¡rio',
  `id_produto` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela do produto',
  `id_pedido` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela do pedido',
  PRIMARY KEY (`id_pedido_produto`),
  INDEX `fk_produto_pedido_idx` (`id_pedido` ASC),
  INDEX `fk_tbl_produto_tbl_pedido_produto_idx` (`id_produto` ASC),
  CONSTRAINT `fk_tbl_pedido_tbl_pedido_produto`
    FOREIGN KEY (`id_pedido`)
    REFERENCES `mob_share`.`tbl_pedido` (`id_pedido`),
  CONSTRAINT `fk_tbl_produto_tbl_pedido_produto`
    FOREIGN KEY (`id_produto`)
    REFERENCES `mob_share`.`tbl_produto` (`id_produto`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_percentual`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_percentual` (
  `id_percentual` INT(11) NOT NULL AUTO_INCREMENT,
  `percentual` FLOAT NOT NULL,
  `id_tipo_veiculo` INT(11) NOT NULL,
  `data` DATE NULL DEFAULT NULL,
  PRIMARY KEY (`id_percentual`),
  INDEX `id_tipo_veiculo` (`id_tipo_veiculo` ASC),
  CONSTRAINT `tbl_percentual_ibfk_1`
    FOREIGN KEY (`id_tipo_veiculo`)
    REFERENCES `mob_share`.`tbl_tipo_veiculo` (`id_tipo_veiculo`))
ENGINE = InnoDB
AUTO_INCREMENT = 13
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_percentual_desconto`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_percentual_desconto` (
  `id_percentual_desconto` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo do percentual de desconto',
  `percentual` FLOAT NOT NULL COMMENT 'porcentagem do percentual de desconto',
  `id_cliente` INT(11) NOT NULL COMMENT 'cÃ³digo do cliente',
  `data_inicio` DATETIME NOT NULL COMMENT 'data de inÃ­cio do percentual de desconto',
  `data_final` DATETIME NOT NULL COMMENT 'data final do desconto',
  `codigo` VARCHAR(15) NOT NULL COMMENT 'numeraÃ§Ã£o do cÃ³digo de percentual de desconto',
  PRIMARY KEY (`id_percentual_desconto`),
  INDEX `fk_tbl_percentual_desconto_tbl_cliente_idx` (`id_cliente` ASC),
  CONSTRAINT `fk_tbl_percentual_desconto_tbl_cliente`
    FOREIGN KEY (`id_cliente`)
    REFERENCES `mob_share`.`tbl_cliente` (`id_cliente`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_permissoes`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_permissoes` (
  `id_permissoes` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela de permissoes',
  `nome` VARCHAR(45) NOT NULL COMMENT 'nome das permissoes',
  `titulo` VARCHAR(45) NOT NULL COMMENT 'tÃ­tulo das permissoes',
  `descricao` TEXT NULL DEFAULT NULL COMMENT 'descriÃ§Ã£o das permissoes',
  `icone` VARCHAR(100) NOT NULL COMMENT 'Ã­cone das permissoes',
  `href` VARCHAR(100) NOT NULL COMMENT 'link das permissoes',
  PRIMARY KEY (`id_permissoes`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_principais_anuncios`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_principais_anuncios` (
  `id_principais_anuncios` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo principais anÃºncios',
  `id_anuncios_venda` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela anÃºncios a venda',
  `status` TINYINT(4) NOT NULL COMMENT 'status dos principais anÃºncios',
  PRIMARY KEY (`id_principais_anuncios`),
  INDEX `fk_tbl_principais_anuncios_tbl_anuncios_venda_idx` (`id_anuncios_venda` ASC),
  CONSTRAINT `fk_tbl_principais_anuncios_tbl_anuncios_venda`
    FOREIGN KEY (`id_anuncios_venda`)
    REFERENCES `mob_share`.`tbl_anuncio_venda` (`id_anuncio_venda`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_salario`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_salario` (
  `id_salario` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela de salÃ¡rio',
  `salario` DECIMAL(10,2) NOT NULL COMMENT 'salÃ¡rio do funcionÃ¡rio',
  `data_cadastro` DATETIME NOT NULL COMMENT 'data de cadastro do funcionÃ¡rio',
  `id_funcionario` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela de fucionÃ¡rio ',
  PRIMARY KEY (`id_salario`),
  INDEX `fk_tbl_funcionario_tbl_salario_idx` (`id_funcionario` ASC),
  CONSTRAINT `fk_tbl_funcionario_tbl_salario`
    FOREIGN KEY (`id_funcionario`)
    REFERENCES `mob_share`.`tbl_funcionario` (`id_funcionario`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_seja_parceiro`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_seja_parceiro` (
  `id_seja_parceiro` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da pÃ¡gina seja parceiro',
  `titulo_seja_parceiro` VARCHAR(45) NOT NULL COMMENT 'tÃ­tulo da pÃ¡gina seja parceiro',
  `texto_seja_parceiro` TEXT NOT NULL COMMENT 'texto da pÃ¡gina seja parceiro',
  `foto_seja_parceiro` VARCHAR(45) NOT NULL COMMENT 'foto da pÃ¡gina seja parceiro',
  PRIMARY KEY (`id_seja_parceiro`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_tabela_precos`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_tabela_precos` (
  `id_tabela_precos` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela de preÃ§os',
  `titulo_tabela_precos` VARCHAR(45) NOT NULL COMMENT 'tÃ­tulo da tabela de preÃ§os',
  `texto_tabela_precos` VARCHAR(45) NOT NULL COMMENT 'texto da tabela de preÃ§os',
  `descricao_tabela_precos` VARCHAR(45) NULL DEFAULT NULL COMMENT 'descriÃ§Ã£o da tabela de preÃ§os',
  `foto_tabela_precos` VARCHAR(45) NULL DEFAULT NULL COMMENT 'foto da tabela de preÃ§os',
  PRIMARY KEY (`id_tabela_precos`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_termos_uso`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_termos_uso` (
  `id_termos_uso` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da pÃ¡gina termos de uso',
  `pdf_termos` VARCHAR(45) NOT NULL COMMENT 'pdf da pÃ¡gina termos de uso',
  `titulo_termos` VARCHAR(45) NOT NULL COMMENT 'tÃ­tulo da pÃ¡gina termos de uso',
  `texto_1_termos` VARCHAR(45) NOT NULL COMMENT 'texto da pÃ¡gina termos de uso',
  `icone_1_termos` VARCHAR(45) NULL DEFAULT NULL COMMENT 'Ã­cone da pÃ¡gina termos de uso',
  PRIMARY KEY (`id_termos_uso`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_usuario_desktop_permissoes`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_usuario_desktop_permissoes` (
  `id_usuario_desktop_permicoes` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela de permiÃ§Ãµes do usuÃ¡rio  do desktop',
  `id_usuario_desktop` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela do usuÃ¡rio  do desktop',
  `id_permicoes` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela de permiÃ§Ãµes',
  PRIMARY KEY (`id_usuario_desktop_permicoes`, `id_permicoes`),
  INDEX `fk_tbl_permicoes_idx` (`id_permicoes` ASC),
  INDEX `fk_tbl_usuario_desktop_tbl_usuario_desktop_permicoes_idx` (`id_usuario_desktop` ASC),
  CONSTRAINT `fk_tbl_permicoes_tbl_usuario_desktop_permicoes`
    FOREIGN KEY (`id_permicoes`)
    REFERENCES `mob_share`.`tbl_permissoes` (`id_permissoes`),
  CONSTRAINT `fk_tbl_usuario_desktop_tbl_usuario_desktop_permicoes`
    FOREIGN KEY (`id_usuario_desktop`)
    REFERENCES `mob_share`.`tbl_usuario_desktop` (`id_usuario_desktop`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_anuncio_copy1`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_anuncio_copy1` (
  `id_anuncio` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela anÃºncio',
  `descricao` TEXT NOT NULL COMMENT 'descriÃ§Ã£o da tabela de anÃºncio',
  `id_cliente_locador` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela cliente locador',
  `id_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela de veÃ­culo',
  `horario_inicio` TIME NOT NULL COMMENT 'horÃ¡rio de inicio do anÃºncio',
  `horario_termino` TIME NOT NULL COMMENT 'horÃ¡rio de termino do anÃºncio',
  `data_inicial` DATE NOT NULL COMMENT 'data inicial do anÃºncio',
  `data_final` DATE NOT NULL COMMENT 'data final do anÃºncio',
  `status_aprovado` TINYINT(4) NOT NULL COMMENT 'status aprovado do anÃºncio',
  PRIMARY KEY (`id_anuncio`),
  INDEX `fk_tbl_usuario_tbl_anuncios_idx` (`id_cliente_locador` ASC),
  INDEX `fk_tbl_veiculos_tbl_anuncios_idx` (`id_veiculo` ASC),
  CONSTRAINT `fk_tbl_usuario_tbl_anuncios0`
    FOREIGN KEY (`id_cliente_locador`)
    REFERENCES `mob_share`.`tbl_cliente` (`id_cliente`),
  CONSTRAINT `fk_tbl_veiculos_tbl_anuncios0`
    FOREIGN KEY (`id_veiculo`)
    REFERENCES `mob_share`.`tbl_veiculo` (`id_veiculo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_anuncio_venda_copy1`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_anuncio_venda_copy1` (
  `id_anuncio_venda` INT(11) NOT NULL COMMENT 'cÃ³digo do anÃºncio de venda',
  `id_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela do veÃ­culo',
  `id_cliente` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela do cliente',
  `descricao_anuncio_venda` TEXT NOT NULL COMMENT 'descriÃ§Ã£o do anÃºncio de venda',
  `valor_venda` FLOAT NOT NULL COMMENT 'valor de venda do anÃºncio',
  PRIMARY KEY (`id_anuncio_venda`),
  INDEX `fk_tbl_usuario_tbl_anuncio_venda_idx` (`id_cliente` ASC),
  INDEX `fk_tbl_veiculo_tbl_anuncio_venda_idx` (`id_veiculo` ASC),
  CONSTRAINT `fk_tbl_usuario_tbl_anuncio_venda0`
    FOREIGN KEY (`id_cliente`)
    REFERENCES `mob_share`.`tbl_cliente` (`id_cliente`),
  CONSTRAINT `fk_tbl_veiculo_tbl_anuncio_venda0`
    FOREIGN KEY (`id_veiculo`)
    REFERENCES `mob_share`.`tbl_veiculo` (`id_veiculo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_aprovacao_anuncio_copy1`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_aprovacao_anuncio_copy1` (
  `id_aprovacao_anuncio` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela aprovaÃ§Ã£o do anÃºncio',
  `status_aprovacao` TINYINT(4) NOT NULL COMMENT 'status da aprovaÃ§Ã£o',
  `id_anuncio` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela anÃºncio',
  `id_usuario_cms` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela usuÃ¡rio do cms',
  PRIMARY KEY (`id_aprovacao_anuncio`),
  INDEX `fk_tbl_aprovacao_anuncio_tbl_usuario_cms_idx` (`id_usuario_cms` ASC),
  INDEX `fk_tbl_aprovacao_anuncio_tbl_anuncio_idx` (`id_anuncio` ASC),
  CONSTRAINT `fk_tbl_avaliacao_anuncio_tbl_anuncio0`
    FOREIGN KEY (`id_anuncio`)
    REFERENCES `mob_share`.`tbl_anuncio_copy1` (`id_anuncio`),
  CONSTRAINT `fk_tbl_avaliacao_anuncio_tbl_usuario_cms0`
    FOREIGN KEY (`id_usuario_cms`)
    REFERENCES `mob_share`.`tbl_usuario_cms` (`id_usuario_cms`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_aprovacao_anuncio_venda_copy1`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_aprovacao_anuncio_venda_copy1` (
  `id_aprovacao_anuncio_venda` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo de aprovaÃ§Ã£o do anÃºncio de venda',
  `status_aprovacao` TINYINT(4) NOT NULL COMMENT 'status de aprovaÃ§Ã£o do anÃºncio de venda',
  `id_anuncio_venda` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela de anÃºncio de venda',
  `id_usuario_cms` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela do usuÃ¡rio do cms',
  PRIMARY KEY (`id_aprovacao_anuncio_venda`),
  INDEX `fk_tbl_aprovacao_anuncio_tbl_usuario_cms_idx` (`id_usuario_cms` ASC),
  INDEX `fk_tbl_aprovacao_anuncio_venda_tbl_anuncio_venda_idx` (`id_anuncio_venda` ASC),
  CONSTRAINT `fk_tbl_avaliacao_anuncio_venda_tbl_anuncio_venda0`
    FOREIGN KEY (`id_anuncio_venda`)
    REFERENCES `mob_share`.`tbl_anuncio_venda_copy1` (`id_anuncio_venda`),
  CONSTRAINT `fk_tbl_avaliacao_anuncio_venda_tbl_usuario_cms0`
    FOREIGN KEY (`id_usuario_cms`)
    REFERENCES `mob_share`.`tbl_usuario_cms` (`id_usuario_cms`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_aprovacao_veiculo_copy1`
-- -----------------------------------------------------
<<<<<<< HEAD
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_aprovacao_veiculo_copy1` (
  `id_aprovacao_veiculo` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela aprovaÃ§Ã£o do veÃ­culo',
  `status_aprovacao` TINYINT(4) NOT NULL COMMENT 'status de aprovaÃ§Ã£o',
  `id_usuario_cms` INT(11) NOT NULL COMMENT 'cÃ³digo do usuÃ¡rio do cms',
  `id_veiculo` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela veÃ­culo',
  PRIMARY KEY (`id_aprovacao_veiculo`),
  INDEX `fk_tbl_aprovacao_veiculo_tbl_veiculo_idx` (`id_veiculo` ASC),
  INDEX `fk_tbl_aprovacao_veiculo_tbl_usuario_cms_idx` (`id_usuario_cms` ASC),
  CONSTRAINT `fk_tbl_avaliacao_veiculo_tbl_usuario_cms0`
    FOREIGN KEY (`id_usuario_cms`)
    REFERENCES `mob_share`.`tbl_usuario_cms` (`id_usuario_cms`),
  CONSTRAINT `fk_tbl_avaliacao_veiculo_tbl_veiculo0`
    FOREIGN KEY (`id_veiculo`)
    REFERENCES `mob_share`.`tbl_veiculo` (`id_veiculo`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;
=======
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_home_sessao5` (
  `id_home_sessao5` INT NOT NULL AUTO_INCREMENT,
  `status_sessao5` FLOAT NOT NULL,
  `titulo_sessao5` VARCHAR(45) NOT NULL,
  `subtitulo1_sessao5` VARCHAR(45) NOT NULL,
  `subtitulo2_sessao5` VARCHAR(45) NOT NULL,
  `subtitulo3_sessao5` VARCHAR(45) NOT NULL,
  `subtitulo4_sessao5` VARCHAR(45) NOT NULL,
  `foto1_sessao5` VARCHAR(255) NOT NULL,
  `foto2_sessao5` VARCHAR(255) NOT NULL,
  `foto3_sessao5` VARCHAR(255) NOT NULL,
  `foto4_sessao5` VARCHAR(255) NOT NULL,
  `texto1_sessao5` TEXT NOT NULL,
  `texto2_sessao5` TEXT NOT NULL,
  `texto3_sessao5` TEXT NOT NULL,
  `texto4_sessao5` TEXT NOT NULL,
  PRIMARY KEY (`id_home_sessao5`))
ENGINE = InnoDB;

/* AlteraÃ§Ãµes */
/* + tbl_percentual
 * tbl_tipo_veiculo {
 *	+ id_tipo_veiculo  auto_increment
 * }
*/


/* AlteraÃ§Ã£o
  + tbl_fale_conosco{
    + adicionando campo mensagem_fale_conosco 
    + retirando NOT NULL nome_fale_conosco e celular_fale_conosco
  } */

ALTER TABLE `tbl_fale_conosco` 
CHANGE COLUMN `nome_fale_conosco` `nome_fale_conosco` VARCHAR(100) NULL COMMENT 'nome da pÃ¡gina fale conosco' ,
ADD COLUMN `celular_fale_conosco` VARCHAR(20) NULL COMMENT 'telefone da pÃ¡gina fale conosco' ,
ADD COLUMN `mensagem_fale_conosco` TEXT NOT NULL AFTER `celular_fale_conosco`;


>>>>>>> 385a39c2f7a9cfe931a373e91a12623bb89dd9d4


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_avaliacao_locatario_copy1`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_avaliacao_locatario_copy1` (
  `id_avaliacao_locatario` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo  da tabeÃ§a de avaliaÃ§Ã£o do locatario',
  `nota` FLOAT NULL DEFAULT NULL COMMENT 'nota do locatario',
  `comentario` TEXT NOT NULL COMMENT 'comentÃ¡rio da avaliaÃ§Ã£o do locatÃ¡rio',
  `data_avaliacao` DATE NOT NULL COMMENT 'data da avaliaÃ§Ã£o do locatario',
  `id_locacao` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela locaÃ§Ã£o',
  PRIMARY KEY (`id_avaliacao_locatario`),
  INDEX `fk_tbl_avaliacao_locacao_tbl_locacao_idx` (`id_locacao` ASC),
  CONSTRAINT `fk_tbl_avaliacao_locacao_tbl_locacao0`
    FOREIGN KEY (`id_locacao`)
    REFERENCES `mob_share`.`tbl_locacao` (`id_locacao`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


-- -----------------------------------------------------
-- Table `mob_share`.`tbl_avaliacao_servico_copy1`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_avaliacao_servico_copy1` (
  `id_avaliacao_servico` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela avaliaÃ§Ã£o serviÃ§o',
  `nota` FLOAT NULL DEFAULT NULL COMMENT 'nota da avaliaÃ§Ã£o',
  `data_avaliacao` DATE NOT NULL COMMENT 'data da avaliaÃ§Ã£o',
  `id_locacao` INT(11) NOT NULL COMMENT 'cÃ³digo da tabela locaÃ§Ã£o',
  `comentario` TEXT NULL DEFAULT NULL COMMENT 'comentÃ¡ria da locaÃ§Ã£o',
  PRIMARY KEY (`id_avaliacao_servico`),
  INDEX `fk_tbl_avaliacao_servico_tbl_locacao_idx` (`id_locacao` ASC),
  CONSTRAINT `fk_tbl_avaliacao_servico_tbl_locacao0`
    FOREIGN KEY (`id_locacao`)
    REFERENCES `mob_share`.`tbl_locacao` (`id_locacao`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;


<<<<<<< HEAD
-- -----------------------------------------------------
-- Table `mob_share`.`tbl_bancos_copy1`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mob_share`.`tbl_bancos_copy1` (
  `id_banco` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela bancas',
  `nome_banco` VARCHAR(60) NOT NULL COMMENT 'nome do banco',
  `agencia_numero` VARCHAR(20) NOT NULL COMMENT 'nÃºmero da agÃªncia',
  `cidade` VARCHAR(100) NULL DEFAULT NULL COMMENT 'cidade do banco',
  `uf` VARCHAR(2) NULL DEFAULT NULL COMMENT 'estado do banco',
  PRIMARY KEY (`id_banco`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;
=======
/* AlteraÃ§Ãµes
   + tbl_anuncio{
     + id_anuncio AUTO_INCREMENT
	 + status_aprovado denovo essa mania de not null mesmo o anuncio nÃ£o estando aprovado quando Ã© criado
   }
*/
ALTER TABLE `mob_share`.`tbl_anuncio` 
CHANGE COLUMN `id_anuncio` `id_anuncio` INT(11) NOT NULL AUTO_INCREMENT COMMENT 'cÃ³digo da tabela anÃºncio' ;


ALTER TABLE `mob_share`.`tbl_anuncio` 
CHANGE COLUMN `status_aprovado` `status_aprovado` TINYINT(2) NULL COMMENT 'status aprovado do anÃºncio' ;

/* AlteraÃ§Ãµes : NÃ£o achei aonde esta o valor hora
	+ tbl_anuncio{
	  + valor_hora decimal(10,2)
	}
*/
ALTER TABLE `mob_share`.`tbl_anuncio` 
ADD COLUMN `valor_hora` DECIMAL(10,2) NOT NULL DEFAULT 1 AFTER `status_aprovado`;

/* AlteraÃ§Ãµes : sem o campo mensagem
	+ tbl_aprovacao_anuncio{
	  + menssagem text(1021)
	}
*/
ALTER TABLE `mob_share`.`tbl_aprovacao_anuncio` 
ADD COLUMN `mensagem` TEXT(1021) NOT NULL AFTER `id_usuario_cms`;

>>>>>>> 385a39c2f7a9cfe931a373e91a12623bb89dd9d4


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;
