/*css*/
@import "style.css";
@import "estrutura.css";
*{
    box-sizing: border-box;
}
#principal{
    width: 100%;
    height: auto;
    min-height: 1800px;
    border:1px solid black;
}
.titulo_anuncio{
    width:1000px;
    border-bottom:1px solid black;
    margin-top: 30px;
    font-family: "Roboto";
    font-size: 25px;
}
.segura_anuncio{
    width:1000px;
    height: inherit;
    /* border:1px solid black; */
    margin-left: auto;
    margin-right: auto;
}
.linha_info_veiculo{
    width:1000px;
    height: 528px;
    margin-top: 10px;
    /* border:1px solid black; */
}
#caixa_slide{
    width:650px;
    height: 500px;
    /* border:1px solid black; */
    float: left;
}
#caixa_slide img{
    width:inherit;
    height: inherit;
    /* border:1px solid black; */
    /* float: left; */
}
#caixa_info{
    width:350px;
    height: 500px;
    /* border:1px solid black; */
    float: left;
}
#informacao_carro{
    width:350px;
    height: 450px;
    /* border:1px solid black; */
    padding-left: 70px;
    padding-top: 70px;
}
#informacao_carro p{
    line-height: 40px;
    font-family: "OpenSans-Regular";
    font-size: 20px;
}
#segura_botao{
    width:290px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}
.botao{
   width: 130px;
   height: 40px;
   border:none;
   background-color: #00994A; 
   color:#fff;
   border-radius: 5px;
  
}
#info_anuncio{
    width:1000px;
    height: 500px;
    /* border:1px solid black; */
    float: left;
}
#acessorios{
    width:490px;
    height: 500px;
    /* border:1px solid black; */
    float: left;
    overflow: auto;
}
#acessorios h3{
    width: 430px;
    border-bottom:1px solid black;
    margin-top: 30px;
    font-family: "Roboto";
    font-size: 25px;
}
#acessorios p{
    line-height: 20px;
    margin-top: 30px;
    margin-left: 20px;
    font-family: "OpenSans-Regular";
    font-size: 22px;
}
#sobre_anuncio{
    width:510px;
    height: 500px;
    /* border:1px solid black; */
    float: left;
}
#sobre_anuncio h3{
    width: 450px;
    border-bottom:1px solid black;
    margin-top: 30px;
    font-family: "Roboto";
    font-size: 25px;
}
.linha_sobre{
    width:510px;
    height: 250px;
    /* border:1px solid black; */
}

.info_sobre_anuncio{
    width:254px;
    height: 250px;
    float: left;
    /* border:1px solid black; */
    padding-left: 20px
}
.info_sobre_anuncio h4{    
    margin-top: 10px;
    font-family: "Roboto";
    font-size: 25px;

}
.info_sobre_anuncio p{    
    margin-top: 20px;
    font-family: "OpenSans-Regular";
    font-size: 20px;
    line-height: 30px;

}
#descricao{
    width:500px;
    height: 250px;
    padding-left: 20px;
    font-family: "OpenSans-Regular";
    font-size: 20px;
    line-height: 30px;
    overflow: auto;
}