/*css cadaastrar anuncio*/


#conteudo_anuncio{
    width: 962px;
    height: 700px;
    float: left;
    border: solid 1px;
    margin-top: 15px;
}

#h2Border{
    width: 198px;
    height: 15px;
    margin-top: -15px;
    margin-left:50px; 
    background-color:#fff;
}

.base{
    width:100%;
    height:680;
/*     background-color:red; */
    margin-top:25px;
}

.conteudo_esquerda{
    width:355px;
    height:680px;
    border:solid 1px;
    float: left;
    margin-left: 10px;
    
}
#titulo{
    width: 100px;
    height: 20px;
/*    background-color: lightcoral;*/
    font-size: 15px;
    margin-left:20px;
    font-family: verdana;
    margin-top:10px;
    display:block;

}

#titulo2{
    width: 100px;
    height: 20px;
/*     background-color: lightcoral; */
    font-size: 12px;
    margin-left:20px;
    font-family: verdana;
    margin-top:30px;
    display:block;
 
}

#cb_veiculos{
    width:300px;
    height:30px;
    margin-left: 20px;
    margin-top:-50px;
   
}

.conteudo_direita{
    width:560px;
    height:680px;
    background-color:pink;
    float: left;
}
.principal_segura_conteudo{
    width: 100%;
    height: 100px;
/*    background-color: red;*/
}

.segura_checkbox{
    width: 15px;
    height: 100px;
    background-color: rgba(0, 255, 255, 0);
    margin-left: 20px;
    float: left;
}
.dias_semana{
    width:110px;
    height: 100px;
    background-color: rgba(255, 192, 203, 0);
    margin-left: 5px;
    float: left;
}
.dia{
    width: 100%;
    height: 14px;
/*    background-color: cadetblue;*/
    margin-top: 6px;
    font-family: verdana;
    font-size: 12px;
    /* margin-top: 20px; */
    /* line-height: 1.759; */
    display: block;
}

.caixinha_checkbox{
    width: 15px;
    height: 15px;
    margin-top: 5px;
    float: left;
}
.segura_hora{
    width: 100%;
    height: 200px;
    background-color: chocolate;
}
.caixa_texto_veiculo{
    width: 140px;
    height: 25px;
    margin-left: 20px;
    
}
#titulo_veiculo{
    width: 100px;
    height: 20px;
/*    background-color: lightcoral;*/
    font-size: 15px;
/*    margin-left:20px;*/
    font-family: verdana;
    margin-top:10px;
    display:block;
    float: left;

}








































