#conteudo_andamento{
    width: 100%;
    height: 685px;
    float: right;
    margin-top: 15px;
    /* margin-right: 15px; */
    border-radius: 20px;
}

#h2Border{
    width: 289px;
    height: 30px;
    margin-top: -17px;
    margin-left:50px;
    background-color:#fff;
    margin-bottom: 20px;
    width: 100%;
    margin: 0;
    height: 42px;
    margin-top: -13px;
    padding: 4px 14px;
    border: solid 1px #ddd;
    border-bottom: 2px solid #ddd;
}
#principal_andamento{
    width: 1047px;
    height: 670px;
    margin-left: 10px;
}

.segura_coluna{
    width: 100%;
    height: 60px;
}
#nome {
    width: 60px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#nome{
    width: 60px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#veiculo{
    width: 60px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#retirada{
    width: 157px;
    height: 20px;
    font-family: verdana;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    }

#devolucao{
    width: 139px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
 }
 #retirada_data{
    width: 200px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    }

#devolucao_data{
    width: 200px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    }
.coluna{
    width: 174px;
    height: 60px;
    float:left;
    border: solid 1px;
    font-family: verdana;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 5px;
}