#conteudo_veiculos_estatistica{
    width: 100%;
    height: 708px;
    float: left;
    /* border: solid 1px; */
    margin-top: 10px;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
}
#h2Border{
    width: 110px;
    height: 15px;
    margin-left:50px;
    margin-top: -12px;
    background-color: #fff;
    width: 100%;
    margin: 0;
    height: 42px;
    margin-top: -13px;
    padding: 4px 14px;
    border: solid 1px #ddd;
    border-bottom: 2px solid #ddd;
}
.categoria{
    width:100px;
    height:50px;
    border:solid 1px #000;
}
