.veiculos-cadastrar{

}
.veiculos-cadastrar .veiculos-titulo
{
    border-bottom: solid 0.1px black;
    width: 814px;display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.veiculos-cadastrar table.veiculos-cadastrar-table
{
    width: 755px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    margin-bottom: 7px;
}
.veiculos-cadastrar table.veiculos-cadastrar-table tr
{
    width: 100%;
}
.veiculos-cadastrar table.veiculos-cadastrar-table tr td
{
    min-width: 152px;
    padding: 0px 5px;
}
.veiculos-cadastrar table.veiculos-cadastrar-table tr td label{
    display: block;
    font-size: 1.1em;
}
.veiculos-cadastrar table.veiculos-cadastrar-table tr td input,.veiculos-cadastrar table.veiculos-cadastrar-table tr td select
{
    width: 100%;
}
.veiculos-cadastrar table.veiculos-cadastrar-table tr td input{}
.veiculos-cadastrar table.veiculos-cadastrar-table tr td select
{
    display: block;
    width: 100%;
    border: solid black;
    border-width: 0px 0px 1.3px 0px;
    padding: 4px;
    outline: none;
    margin: 0px 0px 4px 0px;
}
/* Nesseario para pegar input do typo checkbox */
.veiculos-cadastrar-acessorios .veiculos-cadastrar-checkbox
{
    text-align: initial;
    margin: 4px 0px;
    padding: 2px 9px;border-radius: 5px;
    float: left;margin-left: 4px;
}
.veiculos-cadastrar-acessorios .veiculos-cadastrar-checkbox input
{
    width: auto;
}
.veiculos-cadastrar-acessorios
{
    height: 90px;
    display: block;
    width: 812px;
    margin-left: auto;
    margin-right: auto;
    text-align: initial;
}
/*
.conteudo_upload{
    width: 300px;
    height: 300px;
    background-color: bisque;
    margin-left: 80px;
}*/

.div_foto{
    width: 50px;
    height: 50px;
    border: solid 1px black; 
}
