
/*css*/
body{
    margin: 0px;
    padding: 0px;
}
/*div principal*/
#principal{
    width: 1200px;
    height: 922px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
}
/*cabeçalho*/
header{
    width: 1200px;
    height: 200px;
    background-color: whitesmoke;
}
/*todo conteudo do cabeçalho*/
#conteudo_header{
    width: 1160px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
     padding-top: 20px;
}

/*imagem do logo*/
.img_logo{
   width: 200px;
    height: 150px;
    float: left;
}

/*parte do bem vindo*/
#bemvindo{
    width: 150px;
    height: 75px;
    float: left;
    margin-left: 600px;
}
h1{
    font-family: verdana;
    font-size: 20px;
}



/*foto do usurio*/
.img_usuario{
    width: 150px;
    height: 150px;
    margin-left: 45px;
    border-radius: 100px; 
    border: solid 3px;
}


/*div que segura os icones*/
#segura_icones{
  width: 200px;
    margin-left: 775px;
    margin-top: 80px;
    padding-bottom: 100px;
}

.icone{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    float: left;
    margin-top: -20px;
    
}

.img_icone{
    width: 40px;
    height: 40px;
}

/*menu*/
nav{
    width: 200px;
    height: auto;
    min-height: 720px;
    background-color: whitesmoke;
    float: left;
    
}
h5{
    font-family: verdana;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    
}
.caixa_menu{
    width: 200px;
    height: 40px;
    margin-top: 10px;

}
.menu_icone{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    float: left;
    
}
.menu_titulo{
    width: 160px;
    height: 40px;
    margin-left: 40px;
    font-family: verdana;
    font-size: 15px;
}
p{
   padding-top: 12px;
}
a{
    text-decoration: none;
    color: black;
}

/*conteudo*/
#conteudo{
    width: 998px;
    height: 708px;          
    float: left; 
/*    border: solid 1px;*/
    margin-top: 13px;
}





/* conteudo conversas*/


#conteudo_conversa{
    width: 998px;
    height: 703px;          
    float: left; 
    border: solid 1px;
    margin-top: 5px;

}

#h2Border{
    width: 140px;
    height: 15px;
    margin-top: -15px;
    margin-left:50px; 
    background-color:#fff;
}
#principal_conversa{
    width: 990px;
    height: 670px;
    margin-left: 13px;
    /* background-color: chocolate; */
}
#ultima_conversa{
    width: 250px;
    height: 50px;
    border: solid 1px;
    
    margin-top: 80px;
    
    margin-left: 30px;
}

#titulo_conversa{
    font-size: 20px;
    font-family: verdana;
    margin-left: 40px;
    margin-top: -1px;
}
.segura_bolinhas{
    width: 50px;
    height: 300px;
}
.bolinha{
    width: 50px;
    height: 50px;
   border: solid 1px;
    border-radius: 100px;
    margin-top: 28px;
}
.icone_bolinha{
    width: 45px;
    height: 45px;
    margin-left: 3px;
}
.segura_conversa{
    width: 235px;
    height: 300px;
    margin-left: 56px;
    margin-top: 166px;
}
.caixa_conversa{
    width: 220px;
    height: 40px;
    border: solid 1px;
    margin-left: 10px;
    margin-top: 40px;
  
}
.dialogo{
    font-family: verdana;
    font-size: 20px;

}
#linha_vertical{
    width: 2px;
    height: 400px;
    background-color: #000;
    margin-left: 400px;
    margin-top: -377px;

}
.principal_dialogo{
    width: 548px;
    height: 240px;
    border: solid 1px;
    margin-top: -550px;
}
.caixa_texto{
    width: 548px;
    height: 100px;
    border: solid 1px;
    margin-top: 10px;
}
#caixa_icone{
    width: 20px;
    height: 20px;
    margin-left: 530px;
    margin-top: -238px;
    float: left;
}

#segura_todo_dialogo{
    width: 400px;
    height: 350px;
    margin-left:650px;
    margin-top: 700px;
}

#icone_conversa{
    width: 20px;
    height: 20px;
}

.caixa_esquerda{
    width: 200px;
    height: 40px;
    border: solid 1px;
    margin-top: 30px;
    margin-left: 10px;
}

.caixa_direita{
    width: 200px;
    height: 40px;
    border: solid 1px;
    margin-left: 330px;
    margin-top: 6px;
 
}
#inicio_conversa{
    width: 50px;
    height: 20px;
    background-color: palevioletred;
    font-family: verdana;
    font-size: 20px;
}













    

    
























