
/*css*/
body{
    margin: 0px;
    padding: 0px;
}
/*div principal*/
#principal{
    width: 1200px;
    height: 922px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
}
/*cabeçalho*/
header{
    width: 1200px;
    height: 200px;
    background-color: whitesmoke;
}
/*todo conteudo do cabeçalho*/
#conteudo_header{
    width: 1160px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
     padding-top: 20px;
}

/*imagem do logo*/
.img_logo{
   width: 200px;
    height: 150px;
    float: left;
}

/*parte do bem vindo*/
#bemvindo{
    width: 150px;
    height: 75px;
    float: left;
    margin-left: 600px;
}
h1{
    font-family: verdana;
    font-size: 20px;
}



/*foto do usurio*/
.img_usuario{
    width: 150px;
    height: 150px;
    margin-left: 45px;
    border-radius: 100px; 
    border: solid 3px;
}


/*div que segura os icones*/
#segura_icones{
  width: 200px;
    margin-left: 775px;
    margin-top: 80px;
    padding-bottom: 100px;
}

.icone{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    float: left;
    margin-top: -20px;
    
}

.img_icone{
    width: 40px;
    height: 40px;
}

/*menu*/
nav{
    width: 200px;
    height: auto;
    min-height: 720px;
    background-color: whitesmoke;
    float: left;
}
nav{
    width: 236px;
    height: 718px;
    border-right: 1px solid black;
    float: left;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
}
#texto_menu{
    font-family: verdana;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 20px;
    border-bottom:1px solid black;
}
.menu_lateral{
    width: 235px;
    height: 639px;
    overflow-y: auto;
    overflow-x: hidden;
}
.item_menu{
    width: 216px;
    height: auto;
    min-height: 48px;
    border-bottom:1px solid black;
    padding: 3px 10px;
    background-color: #ffffff;
    cursor: pointer;
}
.item_menu:hover, .item_sub_menu:hover{
    background-color: #006330;
}
.item_menu img, .item_sub_menu img{
    width: 35px;
    height: 40px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
}
.item_menu p{
    font-size: 16px;
    font-family: verdana;
    margin-top: 3px;
    margin-left: 50px;
    color:rgb(0, 0, 0);
}
.item_sub_menu{
    width: 196px;
    height: auto;
    min-height: 45px;
    border-bottom:1px solid black;
    padding: 3px 20px;
    background-color: #ffffff;
    cursor: pointer;
}
.item_sub_menu p{
    font-size: 15px;
    font-family: verdana;
    margin-top: 3px;
    margin-left: 50px;
    color:rgb(0, 0, 0);
}
.sub_menu{
    width:235px;
    height: 0px;
    /* border:1px solid black; */
    display: none;
}

h5{
    font-family: verdana;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    
}
.caixa_menu{
    width: 200px;
    height: 40px;
    margin-top: 10px;

}
.menu_icone{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    float: left;
    
}
.menu_titulo{
    width: 160px;
    height: 40px;
    margin-left: 40px;
    font-family: verdana;
    font-size: 15px;
}
p{
   padding-top: 12px;
}
a{
    text-decoration: none;
    color: black;
}

/*conteudo*/
#conteudo{
    width: 960px;
    height: 720px;
    float: left;
    /* border: solid 1px; */
    overflow-x: hidden;
    overflow-y: auto;
}

/* conteudo de outras paginas MEUS VEICULOS LOCADOS*/















    

    
























